<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gte.sms_demo_12">

    <application
        android:allowBackup="true"
        android:icon="@drawable/zylc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.addActivity" />
        <activity android:name=".Control_Interface_Activity.Control_MainActivity" />
        <activity android:name=".Control_Interface_Activity.control_time_Activity" />
        <activity android:name=".Control_Interface_Activity.control_fixed_value_Activity" />
        <activity android:name=".Control_Interface_Activity.control_state_Activity"></activity>
    </application>

</manifest>